<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lockyluo.photopicker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application >
        <provider
            android:name=".utils.PickerFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/__picker_filepaths" />
        </provider>

        <activity
            android:name="cn.lockyluo.photopicker.PhotoPickerActivity"/>
        <activity
            android:name="cn.lockyluo.photopicker.PhotoPagerActivity"/>
    </application>
</manifest>
